.photo-grid {
  max-width: 1280px;
  padding: 92px 48px 0;
  margin: 0;
}

/* стили для планшета */
@media all and (max-width: 930px) {
  .photo-grid {
    padding: 88px 24px 0;
  }
}

/* стили для смартфонов */
@media all and (max-width: 425px) {
  .photo-grid {
    padding: 64px 16px 0;
  }
}
