.intro__list {
  list-style-type: none;
  margin: 33px 0 0;
  max-width: 690px;
  padding: 0;
  box-sizing: border-box;
}

/* стили для широких мобильных устройств' */
@media all and (max-width: 1024px) {
  .intro__list {
    max-width: 100%;
  }
}

/* стили для мобильных устройств' */
@media all and (max-width: 768px) {
  .intro__list {
    margin-top: 34px;
  }
}
