.lead {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 48px;
  margin: 0;
}

/* стили для больших настольных компьютеров и ноутбуков */
@media screen and (min-width: 1280px) {
  .lead {
    padding-top: 56px;
  }
}
