.lead {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  max-width: 1080px;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 48px auto 0;
}

/* стили для больших настольных компьютеров и ноутбуков */
@media screen and (min-width: 1280px) {
  .lead {
    margin-top: 56px;
  }
}
