.header {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  align-items: flex-end;
  background: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  padding: 28px 48px 0;
}

/* стили для планшета */
@media all and (max-width: 768px) {
  .header {
    padding-left: 24px;
  }
}

@media all and (max-width: 425px) {
  .header {
    padding: 16px 16px 0;
  }
}
