.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-decoration: none;
  color: #fff;
}

.footer__link:hover {
  opacity: 0.8;
  transition: opacity 0.1s ease-in;
}

/* стили для мобилок */
@media all and (max-width: 750px) {
  .footer__link {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    font-size: 24px;
    line-height: 1;
  }
}
