.intro {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 1080px;
  padding: 92px 48px 0;
  margin: 0 auto 0
}

/* стили для планшетов */
@media all and (max-width: 768px) {
  .intro {
    padding: 88px 24px 0;
  }
}

/* стили для планшетов */
@media all and (max-width: 750px) {
  .intro {
    padding-top: 64px;
  }
}

/* стили для смартфонов */
@media all and (max-width: 425px) {
  .intro {
    padding: 64px 16px 0;
  }
}
