.cover {
  display: grid;
  align-items: center;
  justify-content: center;
  row-gap: 32px;
  max-width: 1184px;
  width: 100%;
  height: 100%;
  margin: 92px auto 0;
  padding: 0;
  box-sizing: border-box;
}

/* стили для планшетов */
@media all and (max-width: 768px) {
  .cover {
    margin: 90px 0 0;
  }
}

/* стили для мобилок */
@media all and (max-width: 750px) {
  .cover {
    margin: 66px 0 0;
    row-gap: 16px;
  }
}
