.place__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-decoration-line: underline;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin: 12px 0 0;
  color: #fff;
}

.place__link:hover {
  opacity: 0.8;
  transition: opacity 0.1s ease-in;
}
