.lead__caption {
  align-self: center;
  max-width: 984px;
  width: 100%;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-align: left;
  text-transform: uppercase;
  padding: 8px 48px 0;
  box-sizing: border-box;
  margin: 0;
}

/* двигаем подпись как только фото встаёт по ширине */
@media all and (max-width: 1080px) {
  .lead__caption {
    padding: 0 48px 0;
  }
}

/* стили для планшета */
@media all and (max-width: 768px) {
  .lead__caption {
    padding: 8px 24px 0;
  }
}

/* стили для смартфонов */
@media all and (max-width: 425px) {
  .lead__caption {
    padding: 8px 16px 0;
  }
}
