.place {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  column-gap: 32px;
  row-gap: 48px;
  max-width: 984px;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: max-content;
}

/* стили для планшетов */
@media all and (max-width: 768px) {
  .place {
    column-gap: 28px;
  }
}

/* стили для смартфонов */
@media all and (max-width: 624px) {
  .place {
    grid-template-columns: minmax(min-content, max-content);
    gap: 32px;
  }
}































