.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
  max-width: 690px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* стили для мобильных устройств' */
@media all and (max-width: 750px) {
  .intro__title {
    font-size: 32px;
    line-height: 109%;
  }
}
